.recipeCard {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    color: #393e46;
}

.recipeName {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}

.recipeImage {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.recipeDetials {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recipeInstructions {
    padding: 10px;
    border-radius: 5px;
    color: #7a787c;
}

.recipeList {
    margin-bottom: 10px 0px;
    line-height: 1.5;
    word-spacing: 2px;
}

.ingredianth1 {
    margin-top: 10px;
}