.itemcontainer {
    width: 400px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 10px 5px;
}

.imagecontainer {
    display: flex;
    justify-content: center;
}

.itemimage {
    max-width: 100%;
    height: auto;

}

.itemcontent {
    text-align: center;
}

.itemname {
    font-size: 1em;
    font-weight: 600;
    padding: 5px;
}

.buttoncontainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}

.itembutton {
    /* background-color: #29bb89; */
    background-color: #87CEEB;
    border: none;
    color: white;
    padding: 10px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 10px;
}

.itembutton:hover {
    /* background-color: #1c7958 */
    background-color: #FF6F61;
}

@media (max-width: 768px) {
    .itemcontainer {
        width: 100%;
        margin: 10px;
    }
}