.itemlistcontainer {
    margin: 12px 0;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.itemlistcontainer:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.itemlistcontainer ol {
    padding-left: 20px;
    list-style-position: inside;
}


.itemlistcontainer li {
    font-size: 16px;
    color: #333;
    margin-bottom: 8px;
    list-style: none;
}

.itemlistcontainer span {
    margin-left: 5px;
    font-weight: bold;
    color: #666;
}

@media (max-width: 768px) {
    .itemlistcontainer {
        padding: 10px;
        margin: 5px 0;
    }
}